
.icon-picture:before { content: '\e838'; } /* '' */
.icon-brush-1:before { content: '\e83d'; } /* '' */
.icon-trash-circled:before { content: '\e83e'; } /* '' */
.icon-zoom-out:before { content: '\e841'; } /* '' */
.icon-zoom-in:before { content: '\e842'; } /* '' */
.icon-resize:before { content: '\e843'; } /* '' */
.icon-redo:before { content: '\e844'; } /* '' */
.icon-fill:before { content: '\e845'; } /* '' */
.icon-selection:before { content: '\e847'; } /* '' */
.icon-undo:before { content: '\e849'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-ellipse:before { content: '\f104'; } /* '' */
.icon-line:before { content: '\f105'; } /* '' */
.icon-rect:before { content: '\f10b'; } /* '' */
.icon-rotate:before { content: '\f10d'; } /* '' */
.icon-text:before { content: '\f10f'; } /* '' */
.icon-crop:before { content: '\f125'; } /* '' */
.icon-eraser:before { content: '\f12d'; } /* '' */