@charset "UTF-8";
@font-face {
  font-family: 'fontello';
  src: url("./font/fontello.eot");
  src: url("./font/fontello.eot") format("embedded-opentype"), url("./font/fontello.woff2") format("woff2"), url("./font/fontello.woff") format("woff"), url("./font/fontello.ttf") format("truetype"), url("./font/fontello.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.spainterContainer .paint-crp-rect, .spainterContainer .paint-crp-rect .paintPastedImg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.spainterContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  position: relative;
}

.spainterContainer .spainterHidden {
  display: none !important;
}

.spainterContainer .paint-crp-rect {
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  border: 1px dashed #cacaca;
}

.spainterContainer .paint-crp-rect .paintPastedImg {
  width: 100%;
  height: 100%;
  cursor: move;
  margin-bottom: -4px;
}

.spainterContainer .paint-crp-rect [pos=tl], .spainterContainer .paint-crp-rect [pos=bl], .spainterContainer .paint-crp-rect [pos=br], .spainterContainer .paint-crp-rect [pos=tr], .spainterContainer .paint-crp-rect [pos=l], .spainterContainer .paint-crp-rect [pos=t], .spainterContainer .paint-crp-rect [pos=r], .spainterContainer .paint-crp-rect [pos=b] {
  position: absolute;
  background-color: #e2e2e2;
  border: 1px solid #cacaca;
  width: 6px;
  height: 6px;
  z-index: 2;
}

.spainterContainer .paint-crp-rect [pos=tl] {
  top: 0;
  left: 0;
  margin: -4px 0 0 -4px;
  cursor: se-resize;
}

.spainterContainer .paint-crp-rect [pos=bl] {
  left: 0;
  bottom: 0;
  margin: 0 0 -4px -4px;
  cursor: ne-resize;
}

.spainterContainer .paint-crp-rect [pos=br] {
  right: 0;
  bottom: 0;
  margin: 0 -4px -4px 0;
  cursor: se-resize;
}

.spainterContainer .paint-crp-rect [pos=tr] {
  right: 0;
  top: 0;
  margin: -4px -4px 0 0;
  cursor: ne-resize;
}

.spainterContainer .paint-crp-rect [pos=l] {
  top: 50%;
  left: 0;
  margin: -4px 0 0 -4px;
  cursor: e-resize;
}

.spainterContainer .paint-crp-rect [pos=t] {
  top: 0;
  left: 50%;
  margin: -4px 0 0 -4px;
  cursor: s-resize;
}

.spainterContainer .paint-crp-rect [pos=r] {
  top: 50%;
  right: 0;
  margin: -4px -4px 0 0;
  cursor: e-resize;
}

.spainterContainer .paint-crp-rect [pos=b] {
  left: 50%;
  bottom: 0;
  margin: 0 0 -4px -4px;
  cursor: s-resize;
}

.spainterContainer .canvasResize {
  cursor: se-resize;
  position: absolute;
  background-color: rgba(128, 128, 128, 0.5);
  bottom: 0px;
  right: 0px;
  width: 10px;
  height: 10px;
}

.spainterContainer .paintResizeTools {
  display: inline-block;
  padding-right: 10px;
}

.spainterContainer .paintResizeTools > input {
  width: 50px;
}

.spainterContainer .toolsAndCanvas {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.spainterContainer .toolsAndCanvas .painterTools {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  margin-left: -5px;
  height: fit-content;
}

.spainterContainer .toolsAndCanvas .painterTools * {
  display: block;
  padding: 5px 5px 5px 0;
}

.spainterContainer .toolsAndCanvas .canvasWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  border: 1px dashed rgba(128, 128, 128, 0.5);
}

.spainterContainer .toolsAndCanvas .canvasWrapper .painter {
  touch-action: none;
}

.spainterContainer .toolsAndCanvas .canvasWrapper canvas {
  background-color: #868686;
  background-image: -moz-linear-gradient(45deg, #cacacc 25%, transparent 25%), -moz-linear-gradient(-45deg, #cacacc 25%, transparent 25%), -moz-linear-gradient(45deg, transparent 75%, #cacacc 75%), -moz-linear-gradient(-45deg, transparent 75%, #cacacc 75%);
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, #cacacc), color-stop(0.25, transparent)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #cacacc), color-stop(0.25, transparent)), -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.75, transparent), color-stop(0.75, #cacacc)), -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.75, transparent), color-stop(0.75, #cacacc));
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
  -webkit-background-size: 50px 50px;
  background-position: 0 0, 25px 0, 25px -25px, 0px 25px;
}

.spainterContainer .toolsAndCanvas .canvasWrapper .text {
  position: absolute;
  border: 1px dashed;
  width: auto;
  min-width: 5px;
  word-wrap: normal;
  padding: 0 1px;
}

.spainterContainer .bottomTools {
  padding-top: 7px;
  margin-left: 24px;
}

.spainterContainer .bottomTools .paintFont, .spainterContainer .bottomTools .paintOpacity, .spainterContainer .bottomTools .paintFillOpacity, .spainterContainer .bottomTools .paintRadius, .spainterContainer .bottomTools .paintColor, .spainterContainer .bottomTools .paintColorFill {
  display: inline-block;
  vertical-align: top;
}

.spainterContainer .bottomTools .paintFont input[type=text], .spainterContainer .bottomTools .paintOpacity input[type=text], .spainterContainer .bottomTools .paintFillOpacity input[type=text], .spainterContainer .bottomTools .paintRadius input[type=text], .spainterContainer .bottomTools .paintColor input[type=text], .spainterContainer .bottomTools .paintColorFill input[type=text] {
  width: 30px;
  padding: 5px;
  vertical-align: top;
}

.spainterContainer .bottomTools .paintFont > span, .spainterContainer .bottomTools .paintOpacity > span, .spainterContainer .bottomTools .paintFillOpacity > span, .spainterContainer .bottomTools .paintRadius > span, .spainterContainer .bottomTools .paintColor > span, .spainterContainer .bottomTools .paintColorFill > span {
  vertical-align: top;
  display: inline-block;
  padding-top: 3px;
}

.spainterContainer .bottomTools .paintFont > input, .spainterContainer .bottomTools .paintOpacity > input, .spainterContainer .bottomTools .paintFillOpacity > input, .spainterContainer .bottomTools .paintRadius > input, .spainterContainer .bottomTools .paintColor > input, .spainterContainer .bottomTools .paintColorFill > input {
  margin-right: 0;
}

.spainterContainer .bottomTools .paintFont div, .spainterContainer .bottomTools .paintOpacity div, .spainterContainer .bottomTools .paintFillOpacity div, .spainterContainer .bottomTools .paintRadius div, .spainterContainer .bottomTools .paintColor div, .spainterContainer .bottomTools .paintColorFill div {
  display: inline-block;
  overflow: hidden;
  width: 0;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  -o-transition: width 0.5s;
  -ms-transition: width 0.5s;
  transition: width 0.5s;
}

.spainterContainer .bottomTools .paintFont:hover div, .spainterContainer .bottomTools .paintOpacity:hover div, .spainterContainer .bottomTools .paintFillOpacity:hover div, .spainterContainer .bottomTools .paintRadius:hover div, .spainterContainer .bottomTools .paintColor:hover div, .spainterContainer .bottomTools .paintColorFill:hover div {
  width: 120px;
}

.spainterContainer .bottomTools .paintSend {
  vertical-align: top;
}

.spainterContainer .bottomTools .paintXYdimens {
  font-size: 12px;
  position: relative;
  float: right;
  padding: 1px 10px;
  display: inline-block;
}

.spainterContainer .bottomTools .paintXYdimens > * {
  display: inline-block;
}

.spainterContainer .bottomTools .paintFont select {
  display: inline-block;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 120px;
  font-size: 14px;
  height: 25px;
  border: 1px solid grey;
}

.spainterContainer .bottomTools .paintApplyText {
  display: inline-block;
}

.spainterContainer .bottomTools .paintColor input[type=color], .spainterContainer .bottomTools .paintColorFill input[type=color] {
  -webkit-appearance: none;
  padding: 0;
  border: 1px solid grey;
  border-radius: 1px;
  height: 25px;
  width: 25px;
}

.spainterContainer .bottomTools .paintColor input[type=color]::-webkit-color-swatch-wrapper, .spainterContainer .bottomTools .paintColorFill input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}

.spainterContainer .bottomTools .paintColor input[type=color]::-webkit-color-swatch, .spainterContainer .bottomTools .paintColorFill input[type=color]::-webkit-color-swatch {
  border: none;
}

.icon-picture:before {
  content: '\e838';
}

/* '' */
.icon-brush-1:before {
  content: '\e83d';
}

/* '' */
.icon-trash-circled:before {
  content: '\e83e';
}

/* '' */
.icon-zoom-out:before {
  content: '\e841';
}

/* '' */
.icon-zoom-in:before {
  content: '\e842';
}

/* '' */
.icon-resize:before {
  content: '\e843';
}

/* '' */
.icon-redo:before {
  content: '\e844';
}

/* '' */
.icon-fill:before {
  content: '\e845';
}

/* '' */
.icon-selection:before {
  content: '\e847';
}

/* '' */
.icon-undo:before {
  content: '\e849';
}

/* '' */
.icon-move:before {
  content: '\f047';
}

/* '' */
.icon-ellipse:before {
  content: '\f104';
}

/* '' */
.icon-line:before {
  content: '\f105';
}

/* '' */
.icon-rect:before {
  content: '\f10b';
}

/* '' */
.icon-rotate:before {
  content: '\f10d';
}

/* '' */
.icon-text:before {
  content: '\f10f';
}

/* '' */
.icon-crop:before {
  content: '\f125';
}

/* '' */
.icon-eraser:before {
  content: '\f12d';
}

/* '' */
.spainterContainer {
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.spainterContainer .spainterHidden {
  display: none !important;
}

.spainterContainer [class^="icon-"]:before, .spainterContainer [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*# sourceMappingURL=index.css.map */